{% extends 'main.html' %}
{% block content %}



<div class="container col-lg-10">
  <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
  <main>



      <div class="col-md-7 col-lg-12">
        <form class="needs-validation" novalidate method="post" enctype="multipart/form-data">
          {% csrf_token %}
            {% for field in form %}

          <label for="">{{field.label}}</label>
            <div class="form-floating">

            {{field}}

            </div>
          {% endfor %}
          <br>
          <input type="submit" class="btn-lg btn-primary">
           </form>

      </div>
 </div>
    </div>
</div>
{% endblock content %}