{% extends 'main.html' %}
{% block content %}
<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">

        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="{{account.profile.url}}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{account.username}}</h5>
            <p class="text-muted mb-1">{{account.bio}}</p>
            <p class="text-muted mb-4">{{account.location}}</p>
            <div class="d-flex justify-content-center mb-2">

              <form  method="post"  action="">
                {% csrf_token %}
              {% if account in request.user.account.followed_accounts.all %}
              <button type="submit" class="btn btn-primary">Unfollow</button>
               {% else %}
                <button type="submit" class="btn btn-primary">Follow</button>

                {% endif %}
                </form>
              <a style="" href="{% url 'each_message' account.id %}">
              <button type="button" class="btn btn-outline-primary ms-1">Message</button>
                </a>
            </div>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fas fa-globe fa-lg text-warning"></i>
                <p class="mb-0">https://mdbootstrap.com</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                <p class="mb-0">mdbootstrap</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                <p class="mb-0">@mdbootstrap</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                <p class="mb-0">mdbootstrap</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                <p class="mb-0">mdbootstrap</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{account.first_name}} {{account.last_name}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{account.email}}</p>
              </div>
            </div>
            <hr>
              <div class="row">
              <div class="col-sm-3">
                <a style="text-decoration:None" href="{% url 'followers' account.id %}">
                <p class="mb-0">Followers</p>
                  </a>
              </div>
              <div class="col-sm-9">

                <p class="text-muted mb-0"><h6>{{account.followers}}</h6></p>
              </div>
            </div>
            <hr>
              <div class="row">
              <div class="col-sm-3">
                <a style="text-decoration:None" href="{% url 'following' account.id %}">
                <p class="mb-0">Following</p>
                   </a>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><h6>{{account.following}}</h6></p>
              </div>
            </div>

            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{account.location}}</p>
              </div>
            </div>

          </div>
        </div>
          {% if count > 0 %}
          <p class="text-muted mb-1">Projects</p>
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">

               {% for project in account.project_set.all %}

      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">By {{project.owner}}</strong>
          <h3 class="mb-0">{{project.title}}</h3>
          <div class="mb-1 text-muted">{{project.created}}</div>
          <p class="card-text mb-auto">{{project.description|slice:"150" }}</p>
          <div class="mb-1 text-muted">total vote:{{project.vote_total}}</div>
          <div class="mb-1 text-muted">positive feedback {{project.vote_ratio}}%</div>
        </div>
        <div class="col-auto d-none d-lg-block">
            <img src="{{project.project_profile.url}}" alt="" class="bd-placeholder-img" width="200" height="250">


        </div>
      </div>

      {% endfor %}
            </div>
          </div>

        </div>
          {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock content %}