<nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
    <div class="container-fluid">


      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account' request.user.account %}">Account</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="#">Projects</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="#">Groups</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="#">Message</a>
          </li>

        </ul>
        <form>
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form>
          <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">Login</button>
          <button type="button" class="btn btn-warning">Sign-up</button>
        </div>
      </div>
    </div>
  </nav>